.card {
    position: relative;
    cursor: pointer;
    /* Змінює курсор на вказівник */
    transition: transform 0.3s ease;
    /* Анімація для картки */
}

.card:hover {
    transform: scale(1.03);
    /* Невелике збільшення картки */
}

.img {
    display: block;
    /* Прибирає пробіли під зображенням */
    width: 100%;
    /* Зображення займає всю ширину картки */
    height: 100%;
    /* Зображення займає всю висоту картки */
    object-fit: cover;
    /* Заповнює картку без спотворення */
}